* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

body {
    align-content: center;
    background-color: #bed4f7;
}

#header {
    vertical-align: center;
    padding: 4px;
}